@use '../abstract/mixins';

@include mixins.media-tablet {
	.burger {
		display: block;
	}

	.socials {
		&-wrapper {
			@include mixins.flex(center, center, column);
		}

		&__description {
			margin-bottom: 10px;
		}
	}

	.header {
		.navbar {
			display: none;
		}
	}

	.services-cards {
		@include mixins.grid(3, 12px);
	}
}
